.service {
  background-color: #2e2c2c;
  height: auto;
}
.service .service-type i {
  color: gold;
  font-size: 38px;
}
footer {
  background-color: #2e2c2c;
  height: auto;
}
.contact-us i {
  color: gold;
  font-size: 30px;
}
.authorizied {
  background-color: #444444;
}
